body,html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
}
.Section_top{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-image: url(img1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    justify-content: center;

}
.content{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;

}


.contentwe{
    position: absolute;
    top: -2200%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;

}
.content h1{
    color: #fff;
    font-size: 40px;
    letter-spacing: 3px;
}
.content h1 span{
    color: rgb(0, 0, 0);
}
.content a{
    background: #85c1ee;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 15px;
}
.content a:hover{
    background: #034e88;
    color: #fff;
}
